/*@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');*/
@font-face {
    font-family: 'Averta-Regular';
    font-style: normal;
    font-weight: 400;
    src:url('https://fonts.cdnfonts.com/s/14933/Averta.woff') format('woff');
}
body {
    background-color:white;
    /* width:100vw;
    height:100%; */
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Averta-Regular, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-stretch:expanded;
    color:rgb(102, 101, 101)
}
#maindiv{
    /* background-color:rgb(248, 242, 243); */
    background-image:url(https://zuri.team/img/hero-bg.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-width:100%;
    min-height:40%; */
    padding: 50px;
}
#maindiv3{
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:center;
    margin:5%;
}

#zurilogo {
    position:relative;
    margin-top:2%;
}
#myHeader{
    margin-top:4%;
    margin-bottom: 3%;
    font-weight:bolder;
    font-size:30px
}
#pcontent{
    font-size:16px;
    align-content:center;
    max-width:60%;
    word-spacing:5px;
    justify-content:center;
    min-height:9%;
    text-align:center;
}
p {
    font-size:16px;}

.anch{
    color:red;
    cursor:pointer;
    text-decoration: none;
}
#btndiv{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top:5%;
    width:100%
}
#btn1{
    background-color:rgb(243, 61, 61);
    color:white;
    padding:1%;
    margin:2%;
    max-width:42%;
    cursor:pointer;
    font-size:16px;
    border:small;
}
#btn2{
    color:red;
    padding:1%;
    margin:2%;
    max-width:44%;
    cursor:pointer;
    font-size:16px
}

#btn1:hover {
    background-color:white;
    color:rgb(243, 61, 61)
}
#btn2:hover {
    color:white;
    background-color:rgb(243, 61, 61)
}
.pcontent2{
    color:red;
    /* justify-items:center;
    position:relative;
    padding-top:30px; */
    font-size:14px
}
.pcontent3{
font-size:22px;
}

#maindiv4{
    /* margin-left:6%;
    margin-right:4%; */
    width:100%;
    background-image:url("left_background design.png"),url("right background design.png");
    background-repeat:no-repeat,no-repeat;
    background-position:right top,left top;
    background-size:contain,contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

@media only screen and (max-width: 800px) {
    #maindiv4{
     flex-direction: column;
    }
    
}
.zuridiv{
    background-color:rgb(248, 242, 243);
    margin:15px;
    padding:45px 45px 30px 30px;
    min-height:8%;
    max-width:22%;
}
#zuridiv3{
    background-color:rgb(248, 242, 243);
    margin:15px;
    padding:45px 45px 30px 30px;
    min-height:8%;
    max-width:22%;
}
.pcontd{
    color:red;
    justify-content:center;
    position:relative;
    padding-top:30px;
    font-size:15px;
    cursor:pointer;
}
.pdivcontent{
    font-size:15px;
    align-content:center;
    width:99%;
    word-spacing:5px;
    justify-content:center
}
#sect3div{
    background-image: url("right background design.png");
    background-repeat:no-repeat;
    background-position:right top;
}
.pcontd2{
    color:red;
    justify-content:center;
    position:relative;
    padding-top:5px;
    font-size:15px;
    cursor:pointer;
    text-decoration:none;
}
#maindiv5{
    min-width:100%;
    font-size:10px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.zuridiv4{
    margin:5%;
    padding:45px 45px 30px 30px;
    min-height:auto;
    padding: 0 0 5% 5%;
}
#zuridiv5{
    display:flex;
    min-height:auto
}
.imglogo{
    max-width:10%;
    height:auto;
}
#footdiv{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:8%;
}